.container{
   background: var(--light2);
}

.container .box-container{
   display: grid;
   gap: 1.5rem;
   grid-template-columns: 1fr 1fr;
   padding: 1.5rem;
}

.container .box-container .column-span-2{
   grid-column: span 2;
}

.container .box-container .box{
   border-radius: .5rem;
   overflow: hidden;
   background: var(--light1);
}

.container .box-container .box .box-title{
   padding: .6rem 1rem;
   color: var(--light2);
   background: var(--orange1);
   text-transform: uppercase;
}

.container .box-container .box .box-body{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 1.5rem 1rem;
}